<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
    <payment>
        <blockbee>
            <model>Blockbee\Blockbee\Model\Method\BlockbeePayment</model>
            <title>Pay With BlockBee</title>
            <active>0</active>
            <allowspecific>0</allowspecific>
            <order_cancelation_timeout>3630</order_cancelation_timeout>
            <can_use_checkout>1</can_use_checkout>
        </blockbee>
    </payment>
</default>
</config>
